
.overlay {
    position: absolute;
    bottom: 1em;
    padding: 3em;
    font-family: 'Bebas Neue';
    pointer-events: none;
    color: white;

    h1 {
        font-size: 3rem;
        margin: 0;
    }

    p {
        font-family: 'Poppins';
        font-size: .9rem;
        margin: 0;
        width: 50%;
    }
}

.inner {
    position: relative;
    z-index: 10;
    pointer-events: none;
}